<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
	<test name="Test1">
				<classes>

			<!-- <class name="myfile.T1_login_DMS"/>
			<class name="myfile.T2_container_open" />
			<class name="myfile.T3_create_folder_using_createbutton_toprightcorner" />
			<class name="myfile.T4_Upload_file_using_uploadbutton_toprightcorner" />
			<class name="myfile.T5_folder_rightclick_properties" />
			<class name="myfile.T6_folder_rightclick_uploadfile" />
			<class name="myfile.T7_folder_rightclick_createfolder" />
			<class name="myfile.T8_folder_rightclick_download" />
			<class name="myfile.T9_folder_rightclick_rename" />
			<class name="myfile.T10_folder_rightclick_move" />
			<class name="myfile.T11_folder_rightclick_delete" />
			<class name="myfile.T12_folder_rightclick_share" />
			<class name="myfile.T13_folder_rightclick_folderactivitylog_open_verifyactionbutton_isenable" />
			<class name="myfile.T14_folder_rightclick_folderactivitylog_open_clickclear_verifyactionbutton_isdisenable" />
			<class name="myfile.T15_folder_rightclick_clickactionbutton_verifydetails_isdisplayed" />
			<class name="myfile.T16_folder_rightclick_activitylog_verify_download" />
			<class name="myfile.T17_create_sdnote_using_createbuttom_toprightcorner" />
			<class name="myfile.T18_tileview_clickrefresh" />
			<class name="myfile.T19_file_rightclick_preview" />
			<class name="myfile.T20_file_rightclick_details" />
			<class name="myfile.T21_file_rightclick_download" />
			<class name="myfile.T22_file_rightclick_share" />
			<class name="myfile.T23_file_rightclick_rename" />
			<class name="myfile.T24_file_rightclick_move" />
			<class name="myfile.T25_file_rightclick_copy" />
			<class name="myfile.T26_file_rightclick_delete" />
			<class name="myfile.T27_file_rightclick_fileactivitylog_actionbutton_isselected" />
			<class name="myfile.T28_file_rightclick_fileactivitylog_clearactionbutton_isdisplayed" />
			<class name="myfile.T29_file_rightclick_fileactivitylog_actionbuttonclick_detaildisplay" />
			<class name="myfile.T30_file_rightclick_fileactivitylog_download" />
			<class name="myfile.T31_file_rightclick_sendto_sendtodepartment" />
			<class name="myfile.T32_file_rightclick_sendto_sendtoproject" />
			<class name="myfile.T33_file_rightclick_sendto_sendtopartner" />
			<class name="myfile.T34_file_rightclick_sendto_sendtosharespace" />
			<class name="myfile.T35_file_rightclick_createremainder" />
			<class name="myfile.T36_quicksearch" />
			<class name="myfile.T37_advancesearch" />
			<class name="myfile.T38_sharelist_sharebyme_isdisplay" />
			<class name="myfile.T39_sharelist_folder_rightclick_linkdetails" />
			<class name="myfile.T40_sharelist_folder_rightclick_unshare" />
			<class name="myfile.T41_sharelist_folder_rightclick_gotolocation" />
			<class name="myfile.T42_sharelist_folder_rightclick_search" />
			<class name="myfile.T43_sharelist_folder_rightclick_activitylog_view_downloadCSVfile" />
			<class name="myfile.T44_sharelist_sharewithme_delete" />
			<class name="myfile.T45_sharelist_sharewithme_openlink" />
			<class name="myfile.T46_sharelist_sharebyme_quickfilter" />
			<class name="myfile.T47_bookmark_file_rightclick_uploadfile" />
			<class name="myfile.T48_bookmark_file_rightclick_createfolder" />
			<class name="myfile.T49_bookmark_file_rightclick_download" />
			<class name="myfile.T50_bookmark_file_rightclick_rename" />
			<class name="myfile.T51_bookmark_file_rightclick_move" />
			<class name="myfile.T52_bookmark_file_rightclick_delete" />
			<class name="myfile.T53_bookmark_file_rightclick_share" />
			<class name="myfile.T54_uploadfile_fileuploadmetadata" />
			<class name="myfile.T55_recyclepin_folder_rightclick_restore" />
			<class name="myfile.T56_recyclepin_folder_rightclick_delete" />
			<class name="myfile.T57_bookmark_file_rightclick_preview" />
			<class name="myfile.T58_bookmark_file_rightclick_details" />
			<class name="myfile.T59_bookmark_file_rightclick_download" />
			<class name="myfile.T60_bookmark_file_rightclick_share" />
			<class name="myfile.T61_bookmark_file_rightclick_sendto_sendtodepartment" />
			<class name="myfile.T62_bookmark_file_rightclick_sendto_sendtoproject" />
			<class name="myfile.T63_bookmark_file_rightclick_sendto_sendtopartner" />
			<class name="myfile.T64_bookmark_file_rightclick_sendto_sendtosharespace" />
			<class name="myfile.T65_bookmark_file_rightclick__rename" />
			<class name="myfile.T66_bookmark_file_rightclick_copy" />
			<class name="myfile.T67_bookmark_file_rightclick_move" />
			<class name="myfile.T68_bookmark_file_rightclick_delete" />
			<class name="myfile.T69_bookmark_file_rightclick_createremainder" />
			<class name="Department.T1_container_open" />
			<class name="Department.T2_create_folder_using_createbutton_toprightcorner" />
			<class name="Department.T3_upload_file_using_uploadbutton_toprightcorner" />
			<class name="Department.T4_upload_filemetadata_using_uploadbutton_toprightcorner" />
			<class name="Department.T5_folder_rightclick_properties" />
			<class name="Department.T6_folder_rightclick_uploadfile" />
			<class name="Department.T7_folder_rightclick_createfolder" />
			<class name="Department.T8_folder_rightclick_download" />
			<class name="Department.T9_folder_rightclick_rename" />
			<class name="Department.T10_folder_rightclick_move" />
			<class name="Department.T11_folder_rightclick_delete" />
			<class name="Department.T12_folder_rightclick_share" />
			<class name="Department.T13_folder_rightclick_folderactivitylog_open_verifyactionbutton_isenable" />
			<class name="Department.T14_folder_rightclick_activitylog_clickclear_verifyactionbutton_isdisenable" />
			<class name="Department.T15_folder_rightclick_clickactionbutton_verifydetails_isdisplayed" />
			<class name="Department.T16_folder_rightclick_activitylog_verify_download" />
			<class name="Department.T17_file_rightclick_preview" />
			<class name="Department.T18_file_rightclick_details" />
			<class name="Department.T19_file_rightclick_download" />
			<class name="Department.T20_file_rightclick_share" />
			<class name="Department.T21_file_rightclick_sendto_sendtomyfiles" />
			<class name="Department.T22_file_rightclick_sendto_sendtodepartment" />
			<class name="Department.T23_file_rightclick_sendto_sendtoproject" />
			<class name="Department.T24_file_rightclick_sendto_sendtopartner" />
			<class name="Department.T25_file_rightclick_sendto_sendtosharespace" />
			<class name="Department.T26_file_rightclick_rename" />
			<class name="Department.T27_file_rightclick_lock" />
			<class name="Department.T28_file_rightclick_move" />
			<class name="Department.T29_file_rightclick_copy" />
			<class name="Department.T30_file_rightclick_delete" />
			<class name="Department.T31_file_rightclick_activitylog_checkbox_isenable_onfile" />
			<class name="Department.T32_file_rightclick_activitylog_clickclear_verifyactionbutton_isdisenable" />
			<class name="Department.T33_file_rightclick_createremainder" />
			<class name="Department.T34_quicksearch" />
			<class name="Department.T35_advancesearch" />
			<class name="Department.T36_sharelist_folder_rightclick_linkdetails" />
			<class name="Department.T37_sharelist_folder_rightclick_unshare" />
			<class name="Department.T38_sharelist_folder_rightclick_gotolocation" />
			<class name="Department.T39_sharelist_quickfilter" />
			<class name="Department.T40_sharelist_sortby" />
			<class name="Department.T41_bookmark_folder_rightclick_uploadfile" />
			<class name="Department.T42_bookmark_folder_rightclick_createfolder" />
			<class name="Department.T43_bookmark_folder_rightclick_download" />
			<class name="Department.T44_bookmark_folder_rightclick_rename" />
			<class name="Department.T45_bookmark_folder_rightclick_move" />
			<class name="Department.T46_bookmark_folder_rightclick_deletefolde" />
			<class name="Department.T47_bookmask_folder_rightclick_share" />
			<class name="Department.T48_create_sdnote" />
			<class name="Department.T49_recyclepin_folder_rightclick_restore" />
			<class name="Department.T50_recyclepin_folder_rightclick_delete" />
			<class name="Department.T51_member_Adduser" />
			<class name="Department.T52_bookmark_file_rightclick__filepreview" />
			<class name="Department.T53_bookmark_file_rightclick__details" />
			<class name="Department.T54_bookmark_file_rightclick__download" />
			<class name="Department.T55_bookmark_file_rightclick__share" />
			<class name="Department.T56_bookmark_file_rightclick_sendto_sendtomyfile" />
			<class name="Department.T57_bookmark_file_rightclick_sendto_sendtodepartment" />
			<class name="Department.T58_bookmark_file_rightclick_sendto_sendtoproject" />
			<class name="Department.T59_bookmark_file_rightclick_sendto_sendtopartner" />
			<class name="Department.T60_bookmark_file_rightclick_sendto_sendtosharespace" />
			<class name="Department.T61_bookmark_file_rightclick_rename" />
			<class name="Department.T62_bookmark_file_rightclick_move" />
			<class name="Department.T63_bookmark_file_rightclick_copy" />
			<class name="Department.T64_bookmark_file_rightclick_delete" />
			<class name="Department.T65_bookmark_file_rightclick_createremainder" />
			<class name="Department.T66_member_delete" /> -->
			<class name="sharespace.T1_container_open" />
			<class name="sharespace.T2_create_folder_using_createbutton_toprightcorner" />
			<class name="sharespace.T3_uploadfile_using_uploadbutton_toprightcorner" />
			<class name="sharespace.T4_upload_filemetadata_using_uploadbutton_toprightcorner" />
			<class name="sharespace.T5_folder_rightclick_properties" />
			<class name="sharespace.T6_folder_rightclick_uploadfile" />
			<class name="sharespace.T7_folder_rightclick_createfolder" />
			<class name="sharespace.T8_folder_rightclick_download" />
			<class name="sharespace.T9_folder_rightclick_rename" />
			<class name="sharespace.T10_folder_rightclick_move" />
			<class name="sharespace.T11_folder_rightclick_delete" />
			<class name="sharespace.T12_folder_rightclick_share" />
			<class name="sharespace.T13_folder_rightclick_folderactivitylog_open_verifyactionbutton_isenable" />
			<class name="sharespace.T14_folder_rightclick_activitylog_clickclear_verifyactionbutton_isdisenable" />
			<class name="sharespace.T15_folder_rightclick_folderactivitylog_clickactionbutton_verifydetails_isdisplayed" />
			<class name="sharespace.T16_folder_rightclick_activitylog_verify_download" />
			<class name="sharespace.T17_file_rightclick_preview" />
			<class name="sharespace.T18_file_rightclick_details" />
			<class name="sharespace.T19_file_rightclick_download" />
			<class name="sharespace.T20_file_rightclick_share" />
			<class name="sharespace.T21_files_rightclick_sendto_sendtomyfiles" />
			<class name="sharespace.T23_files_rightclick_sendto_sendtoproject" />
			<class name="sharespace.T24_files_rightclick_sendto_sendtopartner" />
			<class name="sharespace.T25_file_rightclick_rename" />
			<class name="sharespace.T26_file_rightclick_move" />
			<class name="sharespace.T27_file_rightclick_copy" />
			<class name="sharespace.T28_file_rightclick_delete" />
			<class name="sharespace.T29_file_rightclick_lock" />
			<class name="sharespace.T30_file_rightclick_activitylog_checkbox_isenable_onfile" />
			<class name="sharespace.T31_file_rightclick_activitylog_clickclear_verifyactionbutton_isdisenable" />
			<class name="sharespace.T32_file_rightclick_createremainder" />
			<class name="sharespace.T35_sharelist_folder_rightclick_linkdetails" />
			<class name="sharespace.T36_sharelist_folder_rightclick_unshare" />
			<class name="sharespace.T37_sharelist_folder_rightclick_gotolocation" />
			<class name="sharespace.T38_sharelist_quickfilter" />
			<class name="sharespace.T39_sharelist_sortby" />
			<class name="sharespace.T40_bookmark_folder_rightclick_uploadfile" />
			<class name="sharespace.T41_bookmark_folder_rightclick_createfolder" />
			<class name="sharespace.T42_bookmark_folder_rightclick_download" />
			<class name="sharespace.T43_bookmark_folder_rightclick_rename" />
			<class name="sharespace.T44_bookmark_folder_rightclick_move" />
			<class name="sharespace.T45_bookmark_folder_rightclick_delete" />
			<class name="sharespace.T46_bookmark_folder_rightclick_share" />
			<class name="sharespace.T47_create_sdnote_using_createbutton_toprightcorner" />
			<class name="sharespace.T48_recyclepin_folder_rightclick_restore" />
			<class name="sharespace.T49_recyclepin_folder_rightclick_delete" />
			<class name="sharespace.T50_bookmark_file_rightclick_preview" />
			<class name="sharespace.T51_bookmark_file_rightclick_details" />
			<class name="sharespace.T52_bookmark_file_rightclick_download" />
			<class name="sharespace.T53_bookmark_file_rightclick_share" />
			<class name="sharespace.T54_bookmark_file_rightclick_sendto_sendtomyfile" />
			<class name="sharespace.T56_bookmark_file_rightclick_sendto_sendtoproject" />
			<class name="sharespace.T57_bookmark_file_rightclick_sendto_sendtopartner" />
			<class name="sharespace.T58_bookmark_file_rightclick_rename" />
			<class name="sharespace.T59_bookmark_file_rightclick_move" />
			<class name="sharespace.T60_bookmark_file_rightclick_copy" />
			<class name="sharespace.T61_bookmark_file_rightclick_delete" />
			<class name="sharespace.T62_bookmark_file_rightclick_createremainder" />
			<class name="sharespace.T63_bookmark_file_partnerspace" />  
	<!--	
	<class name="sharespace.T33_quicksearch" />
			<class name="sharespace.T34_advancesearch" />
		<class name="Projectspace.T1_container_open" />
			<class name="Projectspace.T2_create_project" />
			<class name="Projectspace.T3_project_search" />
			<class name="Projectspace.T4_create_folder_using_createbutton_toprightcorner" />
			<class name="Projectspace.T5_upload_file_using_uploadbutton_toprightcorner" />
			<class name="Projectspace.T6_upload_filewithmetadata_using_uploadbutton_toprightcorner" />
			<class name="Projectspace.T7_folder_rightclick_properties" />
			<class name="Projectspace.T8_folder_rightclick_uploadfile" />
			<class name="Projectspace.T9_folder_rightclick_createfolder" />
			<class name="Projectspace.T10_folder_rightclick_download" />
			<class name="Projectspace.T11_folder_rightclick_rename" />
			<class name="Projectspace.T12_folder_rightclick_move" />
			<class name="Projectspace.T13_folder_rightclick_delete" />
			<class name="Projectspace.T14_folder_rightclick_share" />
			<class name="Projectspace.T15_folder_rightclick_folderactivitylog_verify_textbox_isenable" />
			<class name="Projectspace.T16_folder_rightclick_activitylog_clickclear_verify_checkbox_isenable" />
			<class name="Projectspace.T17_file_rightclick_preview" />
			<class name="Projectspace.T18_file_rightclick_details" />
			<class name="Projectspace.T19_file_rightclick_download" />
			<class name="Projectspace.T20_file_rightclick_share" />
			<class name="Projectspace.T21_file_rightclick_sendto_sendtomyfiles" />
			<class name="Projectspace.T22_file_rightclick_sendto_sendtodepartment" />
			<class name="Projectspace.T23_file_rightclick_sendto_sendtoproject" />
			<class name="Projectspace.T24_file_rightclick_sendto_sendtopartnerspace" />
			<class name="Projectspace.T25_file_rightclick_sendto_sendtosharespace" />
			<class name="Projectspace.T26_file_rightclick_rename" />
			<class name="Projectspace.T27_file_rightclick_move" />
			<class name="Projectspace.T28_file_rightclick_copy" />
			<class name="Projectspace.T29_file_rightclick_checkout" />
			<class name="Projectspace.T30_file_rightclick_checklock" />
			<class name="Projectspace.T31_file_rightclick_delete" />
			<class name="Projectspace.T32_file_rightclick_fileactivitylog_verifiedcheckbox_isenable" />
			<class name="Projectspace.T33_file_rightclick_fileactivitylog_clear_verifitycheckbox_isenable" />
			<class name="Projectspace.T34_file_rightclick_createremainder" />
			<class name="Projectspace.T37_sharelist_folder_rightclick_linkdetails" />
			<class name="Projectspace.T38_sharelist_folder_rightclick_unshare" />
			<class name="Projectspace.T39_sharelist_folder_rightclick_gotolocation" />
			<class name="Projectspace.T40_sharelist_quickfilter" />
			<class name="Projectspace.T41_sharelist_sortby" />
			<class name="Projectspace.T42_bookmark_folder_rightclick_uploadfile" />
			<class name="Projectspace.T43_bookmark_folder_rightclick_createfolder" />
			<class name="Projectspace.T44_bookmark_folder_rightclick_download" />
			<class name="Projectspace.T46_bookmark_folder_rightclick_move" />
			<class name="Projectspace.T47_bookmark_foleder_rightclick_delete" />
			<class name="Projectspace.T48_bookmark_folder_rightclick_share" />
			<class name="Projectspace.T49_create_sdnote_using_createbutton_toprightcorner" />
			<class name="Projectspace.T51_recyclepin_folder_rightclick_delete" />
			<class name="Projectspace.T54_bookmark_file_rightclick_preview" />
			<class name="Projectspace.T55_bookamrk_file_rightclick_details" />
			<class name="Projectspace.T56_bookmark_file_rightclick_download" />
			<class name="Projectspace.T57_bookmark_file_rightclick_share" />
			<class name="Projectspace.T58_bookmark_file_rightclick_sendto_sendtomyfile" />
			<class name="Projectspace.T59_bookmark_file_rightclick_sendto_sendtodepartment" />
			<class name="Projectspace.T60_bookmark_file_rightclick_sendto_sendtoproject" />
			<class name="Projectspace.T62_bookmark_file_rightclick_sendto_sendtosharespace" />
			<class name="Projectspace.T65_bookmark_file_rightclick_copy" />
			<class name="Projectspace.T66_bookmark_file_rightclick_checkout" />
			<class name="Projectspace.T67_bookmark_file_rightclick_lock" />
			<class name="Projectspace.T69_bookmark_file_rightclick_createremainder" /> 
						
		<class name="Projectspace.T35_quicksearch" />
			<class name="Projectspace.T36_advancesearch" />
		<class name="Projectspace.T52_member_adduser" />
			<class name="Projectspace.T53_member_addgroup" />
		<class name="Projectspace.T70_members_user_delete" /> 
			<class name="Projectspace.T71_members_group_delete" /> 
	 
				<class name="Partnerspace.T35_quicksearch" />
			<class name="Partnerspace.T36_advancesearch" />
			<class name="Partnerspace.T1_container_open" />
			<class name="Partnerspace.T2_create_project" />
			<class name="Partnerspace.T3_projectname_search" />
			<class name="Partnerspace.T4_createfolder_using_createbutton_ontoprightcorner" />
		 	<class name="Partnerspace.T5_uploadfile_using_uploadbutton_ontoprightcorner" />
			<class name="Partnerspace.T6_upload_filewithmetadata_using_uploadbutton_ontoprightcorner" />
			<class name="Partnerspace.T7_folder_rightclick_properties" />
			<class name="Partnerspace.T8_folder_rightclick_uploadfile" />
			<class name="Partnerspace.T9_folder_rightclick_createfolder" />
			<class name="Partnerspace.T10_folder_rightclick_download" />
			<class name="Partnerspace.T11_folder_rightclick_rename" />
			<class name="Partnerspace.T12_folder_rightclick_move" />
			<class name="Partnerspace.T13_folder_rightclick_delete" />
			<class name="Partnerspace.T15_folder_rightclick_folderactivitylog_verify_textbox_isenable" />
			<class name="Partnerspace.T16_folder_rightclick_folderactivitylog_clickclear_verify_checkbox_isenable" />
			<class name="Partnerspace.T17_file_rightclick_preview" />
			<class name="Partnerspace.T18_file_rightclick_details" />
			<class name="Partnerspace.T19_file_rightclick_download" />
				<class name="Partnerspace.T20_file_rightclick_share" />
		<class name="Partnerspace.T14_folder_rightclick_share" />
		<class name="Partnerspace.T48_bookmark_folder_rightclick_share" />
			<class name="Partnerspace.T34_file_rightclick_createremainder" />
			<class name="Partnerspace.T21_file_rightclick_sendto_sendtomyfiles" />
			<class name="Partnerspace.T22_file_rightclick_sendto_sendtodepartment" />
			<class name="Partnerspace.T23_file_rightclick_sendto_sendtoproject" />   
			<class name="Partnerspace.T25_file_rightclick_sendto_sendtosharespace" />
				<class name="Partnerspace.T24_file_rightclick_sendto_sendtopartnerspace" /> -
			<class name="Partnerspace.T26_file_rightclick_rename" />
			<class name="Partnerspace.T27_file_rightclick_move" />
			<class name="Partnerspace.T28_file_rightclick_copy" />
			<class name="Partnerspace.T29_file_rightclick_checkout" />
			<class name="Partnerspace.T30_file_rightclick_lock" />
			<class name="Partnerspace.T31_file_rightclick_delete" />
			<class name="Partnerspace.T32_file_rightclick_fileactivitylog_verifiedcheckbox_isenable" />
			<class name="Partnerspace.T33_file_rightclick_fileactivitylog_clear_verifitycheckbox_isenable" />
			<class name="Partnerspace.T37_sharelist_folder_rightclick_linkdetails" />
			<class name="Partnerspace.T38_sharelist_folder_rightclick_unshare" />
			<class name="Partnerspace.T39_sharelist_folder_rightclick_gotolocation" />
			<class name="Partnerspace.T40_sharelist_quickfilter" />
			<class name="Partnerspace.T41_sharelist_sortby" />
			<class name="Partnerspace.T42_bookmark_folder_rightclick_uploadfile" />
			<class name="Partnerspace.T43_bookmark_folder_rightclick_createfolder" />
			<class name="Partnerspace.T44_bookmark_folder_rightclick_download" />
			<class name="Partnerspace.T45_bookmark_folder_rightclick_rename" />
			<class name="Partnerspace.T46_bookmark_folder_rightclick_move" />
			<class name="Partnerspace.T47_bookmark_folder_rightclick_delete" />
			<class name="Partnerspace.T49_create_sdnote" />
			<class name="Partnerspace.T50_recyclepin_folder_rightclick_restore" />
			<class name="Partnerspace.T51_recyclepin_folder_rightclick_delete" />
			<class name="Partnerspace.T52_member_Adduser" />
			<class name="Partnerspace.T53_member_Addgroup" />
			<class name="Partnerspace.T54_member_addpartner" />
			<class name="Partnerspace.T55_bookmark_file_rightclick_preview" />
			<class name="Partnerspace.T56_bookmark_file_rightclick_details" />
			<class name="Partnerspace.T57_bookmark_file_rightclick_download" />
				<class name="Partnerspace.T58_bookmark_file_rightclick_share" />
		<class name="Partnerspace.T70_bookmark_file_rightclick_createremainder" />
		<class name="Partnerspace.T68_bookmark_file_rightclick_lock" />
			<class name="Partnerspace.T59_bookmark_file_rightclick_sendto_sendtomyfile" />
			<class name="Partnerspace.T60_bookmark_file_rightclick_sendto_sendtodepartment" />
			<class name="Partnerspace.T61_bookmark_file_rightclick_sendto_sendtoproject" />
			<class name="Partnerspace.T62_bookmark_file_rightclick_sendto_sendtopartnerspace" />
			<class name="Partnerspace.T63_bookmark_file_rightclick_sendto_sendtosharespace" />
				<class name="Partnerspace.T62_bookmark_file_rightclick_sendto_sendtopartnerspace" /> 
					<class name="Partnerspace.T69_bookmark_file_rightclick_delete" />
			<class name="Partnerspace.T64_bookmark_file_rightclick_rename" />
			<class name="Partnerspace.T65_bookmark_file_rightclick_move" />
			<class name="Partnerspace.T66_bookmark_file_rightclick_copy" />
			<class name="Partnerspace.T67_bookmark_file_rightclick_checkout" />
			<class name="Partnerspace.T69_bookmark_file_rightclick_delete" />
			<class name="Partnerspace.T71_members_user_delete" />
			<class name="Partnerspace.T72_members_group_delete" />-->
		</classes>
	</test>
</suite> <!-- Suite -->